[alias]
    co = checkout
    ci = commit
    amci = "commit --amend"
    b = branch
    st = status
    cp = cherry-pick
    wdiff = "diff --word-diff"
    diffc = "diff --cached"
    rl = "reflog --format='[ %cd ] %C(auto)%h %gD: %gs' --date=short"
    logp = "log -p"
    ll = "log --pretty='format:%C(yellow bold)%h %C(green bold)%as%C(reset) %C(white)%s'"
    dl = "log --pretty='format:%C(yellow bold)%h %C(green bold)%as%C(auto)%d%C(reset) %C(white)%s'"
    lln = "ll --name-status"
    tree = "ll --graph"
    oneline = "ll"
    oneline-ns = "lln'"

[color "status"]
    branch = "green bold"
    added = green
    changed = cyan
    deleted = red
    untracked = magenta

[color "diff"]
    meta = "blue bold"

[color "branch"]
    current = "green bold"

[color]
    branch = true
    ui = true
    interactive = auto

[core]
    editor = mcedit
    pager = less -X

[pull]
    rebase = false

[init]
	defaultBranch = master
